<circle cx="32" cy="14" r="10" fill="<%= assigns.color %>"/>
<polygon points="20,10 12,4 22,16" fill="<%= assigns.color %>"/>
<polygon points="44,10 52,4 42,16" fill="<%= assigns.color %>"/>
<circle cx="27" cy="13" r="1.5" fill="#c00"/>
<circle cx="37" cy="13" r="1.5" fill="#c00"/>
